<a href="https://colab.research.google.com/github/kabirsharma03/Assignment/blob/main/Assignment3_Kabir_21104092.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=str(input("Enter anything of your choice: "))
b=input("Enter word whose number of occurences is to be checked: ")
x=a.count(b)
print(x)

Enter anything of your choice: I like mango and I also like apple
Enter word whose number of occurences is to be checked: like
2

In [2]:
month=int(input("Month- "))
day=int(input("Day- "))
year=int(input("Year- "))

if (month,day,year%4)==(2,28,0):
  print("Next Date is: "+str(day+1)+"/"+str(month)+"/"+str(year))
elif (month,day)==(2,28):
  print("Next Date is: 1/3"+"/"+str(year))
elif (month,day)==(12,31):
  print("Next Date is: 1/1"+"/"+str(year+1))
elif (month,day)==(4,30):
  print("Next Date is: 1"+"/"+str(month+1)+"/"+str(year))
elif (month,day)==(6,30):
  print("Next Date is: 1"+"/"+str(month+1)+"/"+str(year))
elif (month,day)==(9,30):
  print("Next Date is: 1"+"/"+str(month+1)+"/"+str(year))
elif (month,day)==(11,30):
  print("Next Date is: 1"+"/"+str(month+1)+"/"+str(year))
else:
  print("Next Date is: "+str(day+1)+"/"+str(month)+"/"+str(year))

Month- 2
Day- 28
Year- 2020
Next Date is: 29/2/2020

In [3]:
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
list1=[a,b,c]
print([(a,a*a),(b,b*b),(c,c*c)])

Enter a: 3
Enter b: 6
Enter c: 9
[(3, 9), (6, 36), (9, 81)]

In [4]:
x=int(input("Enter your grade point: "))
if(x==4):
  print("Your grade is 'D' and Poor Performance")
elif(x==5):
  print("Your grade is 'C' and Below Average Performance")
elif(x==6):
  print("Your grade is 'C+' and Average Performance")  
elif(x==7):
  print("Your grade is 'B' and Good Performance")
elif(x==8):
  print("Your grade is 'B+' and Very Good Performance")
elif(x==9):
  print("Your grade is 'A' and Excellent Performance")
elif(x==10):
  print("Your grade is 'A+' and Outstanding Performance")
else:
  print("Error")

Enter your grade point: 10
Your grade is 'A+' and Outstanding Performance

In [5]:
x="ABCDEFGHIJK"
a=x.replace("JK","")
b=a.replace("HI","")
c=b.replace("FG","")
d=c.replace("DE","")
e=d.replace("BC","")
print(x)
print(a)
print(b)
print(c)
print(d)
print(e)

ABCDEFGHIJK
ABCDEFGHI
ABCDEFG
ABCDE
ABC
A

In [6]:
set1={1,2,3,4,5}
set2={2,4,6,8}
set3={1,5,9,13,17}
#A.) Part
x=set1-set2
y=set2-set1
newset=set.union(x,y)
print(newset)

{1, 3, 5, 6, 8}

In [7]:
set1={1,2,3,4,5}
set2={2,4,6,8}
set3={1,5,9,13,17}
#B.) Part
x=set1-set3
y=set3-set1
z=set.union(x,y)
a=z-set2
b=set2-z
newset=set.union(a,b)
print(newset)

{17, 3, 6, 8, 9, 13}

In [8]:
set1={1,2,3,4,5}
set2={2,4,6,8}
set3={1,5,9,13,17}
#C.) Part
x=set1-set2
y=set1-x
z=set1-set3
a=z-set3
b=x-a
newset=set.union(b,y)
print(newset)

{1, 2, 4, 5}

In [9]:
set1={1,2,3,4,5}
set2={2,4,6,8}
set3={1,5,9,13,17}
#D.) Part
x={1,2,3,4,5,6,7,8,9}
newset=x-set1
print(newset)

{8, 9, 6, 7}

In [10]:
set1={1,2,3,4,5}
set2={2,4,6,8}
set3={1,5,9,13,17}
#E.) Part
x=set.union(set1,set2,set3)
y={1,2,3,4,5,6,7,8,9}
newset=y-x
print(newset)

{7}

In [11]:
a=str(input("Enter Your Name: "))
b=int(input("Enter Your SID: "))
dict={a:b}
print(dict)

Enter Your Name: Kabir
Enter Your SID: 21104092
{'Kabir': 21104092}

In [12]:
def fibonacci(n):
  a=0
  b=1
  if(n==1):
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c)

fibonacci(12)

0
1
1
2
3
5
8
13
21
34
55
89