<a href="https://colab.research.google.com/github/kabirsharma03/Assignment/blob/main/Assignment%201_Kabir_21104092.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
a=int(input("Enter First Number: "))
b=int(input("Enter Second Number: "))
c=int(input("Enter Third Number: "))
d=a+b+c/3
print("The average of (a,b,c) is ",d)

Enter First Number: 5
Enter Second Number: 6
Enter Third Number: 7
The average of (a,b,c) is  13.333333333333334

In [20]:
n=int(input("Enter number of dependents: "))
gross_income=int(input("Enter Your Annual Income: "))
tax_rate=20  #IN percent

standard_deduction=10000
dependent_deduction=3000
taxable_income=gross_income-standard_deduction-(dependent_deduction*n)
Tax=taxable_income*tax_rate
print(Tax)

Enter number of dependents: 3
Enter Your Annual Income: 1000000
19620000

In [21]:
a=input("Enter Your Name: ")
b=int(input("Enter Your SID: "))
c=input("Enter Your Gender: ")
d=input("Enter Course Name: ")
e=float(input("Enter Your CGPA: "))
Students=[b,a,c,d,e]
print(Students)

Enter Your Name: Kabir
Enter Your SID: 21104092
Enter Your Gender: Male
Enter Course Name: Electrical
Enter Your CGPA: 9.9
[21104092, 'Kabir', 'Male', 'Electrical', 9.9]

In [22]:
a=int(input("Enter marks of Student 1- "))
b=int(input("Enter marks of Student 2- "))
c=int(input("Enter marks of Student 3- "))
d=int(input("Enter marks of Student 4- "))
e=int(input("Enter marks of Student 5- "))
list=[a,b,c,d,e]
print(list)

Enter marks of Student 1- 52
Enter marks of Student 2- 55
Enter marks of Student 3- 57
Enter marks of Student 4- 59
Enter marks of Student 5- 60
[52, 55, 57, 59, 60]

In [26]:
color=['Red','Green','White','Black','Pink','Yellow']
#a.) Part
color.remove('Black')
print(color)

['Red', 'Green', 'White', 'Pink', 'Yellow']

In [30]:
color=['Red','Green','White','Black','Pink','Yellow']
#b.) Part
color[3]='Purple'
color.remove("Pink")
print(color)

['Red', 'Green', 'White', 'Purple', 'Yellow']