<a href="https://colab.research.google.com/github/kabirsharma03/Assignment/blob/main/Ongoing%20Assignment%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from math import factorial
n=int(input("Enter the value of n: "))
for i in range(n):
  for j in range(n-i+1):
    print(end=" ")
  for j in range(i+1):
    print(factorial(i)//(factorial(j)*factorial(i-j)),end=" ")

print()

Enter the value of n: 5
      1      1 1     1 2 1    1 3 3 1   1 4 6 4 1

In [ ]:
#Pascal's Triangle in recursive form
def fact(n):
  res=1
  for c in range(1,n+1):
    res=res*c
  return res
rows=int(input("Enter number of rows: ")) 
for i in range(0,rows):
  for j in range(1,rows-i):
    print(" ",end=" ")
  for k in range(0,i+1):
    coff=int(fact(i)/(fact(k)*fact(i-k)))
    print(" ",coff,end="")
print()

Enter number of rows: 5
          1        1  1      1  2  1    1  3  3  1  1  4  6  4  1

In [ ]:
def TowerOfHanoi(n,source,destination,auxiliary):
  if n==1:
    print("Move disk 1 from source",source,"to destination",destination)
    return 
  TowerOfHanoi(n-1,source,auxiliary,destination)
  print("Move disk",n,"from source",source,"to destination",destination)
  TowerOfHanoi(n-1,auxiliary,destination,source)

n=int(input("Enter value of n: "))
TowerOfHanoi(n,'A','B','C')

Enter value of n: 6
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 3 from source A to destination C
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 4 from source A to destination B
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 3 from source C to destination B
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 5 from source A to destination C
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 3 from source B to destination A
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 4 from source B to destination C
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 3 from source A to destination C
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 6 from source A to destination B
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 3 from source C to destination B
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 4 from source C to destination A
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 3 from source B to destination A
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 5 from source C to destination B
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 3 from source A to destination C
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 4 from source A to destination B
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 3 from source C to destination B
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B

In [ ]:
class Student:
  def getdetails(self,name,rollnumber):
    print(f"Name of the student is {self.name} and Roll number is {self.rollnumber}")
    @staticmethod
    def __init__():
      print("Details are as follows")
      

Kabir=Student()
Kabir.name="Kabir"
Kabir.rollnumber=21104092
Kabir.getdetails("name","rollnumber")

Name of the student is Kabir and Roll number is 21104092

In [ ]:
class Employee:
  def getdetails(self,name,salary):
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")

name1=Employee()
name2=Employee()
name3=Employee()
name1.name="Mehak"
name1.salary=40000
name2.name='Ashok'
name2.salary=50000
name3.name='Viren'
name3.salary=60000 

name1.getdetails("name","salary")
name2.getdetails("name","salary")
name3.getdetails("name","salary")

Name of the employee is Mehak and Salary is 40000
Name of the employee is Ashok and Salary is 50000
Name of the employee is Viren and Salary is 60000

In [ ]:
#Updating Class Variables
class Employee:
  def getdetails(self,name,salary):
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")

  def update(self,name,salary):
    name1.salary=70000
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")  

name1=Employee()
name2=Employee()
name3=Employee()
    

name1.name='Mehak'
name1.salary=40000 
name2.name='Ashok'
name2.salary=50000
name3.name='Viren'
name3.salary=60000



name1.update('name','salary')
name2.getdetails('name','salary')
name3.getdetails('name','salary')

Name of the employee is Mehak and Salary is 70000
Name of the employee is Ashok and Salary is 50000
Name of the employee is Viren and Salary is 60000

In [ ]:
class Employee:
  def getdetails(self,name,salary):
    print(f"Name of the employee is {self.name} and Salary is {self.salary}")


    


name1=Employee()
name2=Employee()
name3=Employee()
name1.name='Mehak'
name2.name='Ashok'
name3.name='Viren'
name1.salary=70000
name2.salary=50000
name3.salary=60000

del name3.name
del name3.salary
name1.getdetails('name','salary')
name2.getdetails('name','salary')
name3.getdetails('name','salary')
#We see that while printing details of Viren it throws an ERROR MESSAGE...

Name of the employee is Mehak and Salary is 70000
Name of the employee is Ashok and Salary is 50000

AttributeError: ignored

In [ ]:
def function(a,b):
  print(a//b)
  print(a%b)

a=int(input("Enter a: "))
b=int(input("Enter b: "))  

function(a,b)
#We see that function is callable

Enter a: 5
Enter b: 3
1
2

In [ ]:
#B.) Part
def function(a,b):
  if b==0:
    print("ERROR")

  
  else:
    print("Quotient is ",a//b," and remainder is ",a%b)
   

a=int(input("Enter a: "))
b=int(input("Enter b: "))      
f=function(a,b)

Enter a: 5
Enter b: 0
ERROR

In [ ]:
#C.) Part
def function(a,b):
  x=a%b+4
  y=a//b+4
  z=a%b+5
  w=a//b+5
  t=a%b+6
  e=a//b+6
  if (x,y)<(4,4):
    print("Separate values ,"(x,y))
  if (z,w)<(4,4):
    print("Separate values ",(z,w))
  if (w,t)<(4,4):
    print("Separate value ",(w,t))    


a=int(input("Enter a: "))
b=int(input("Enter b: "))

function(a,b)

Enter a: 100
Enter b: 2